@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



*{
  margin: 0; 
  box-sizing: border-box;
  padding: 0;
}
.regular {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.hero{
background-image: url(src/assets/img_1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 85vh; */
}
.bloghero{
  background-image: url(src/assets/blog.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.abouthero{
  background-image: url(src/assets/grocies/aboutsection.png);
  background-position: right;
  /* background-size: cover; */
  background-repeat: no-repeat;
  object-fit: cover;
}
.producthero{
  background-image: url(src/assets/grocies/productbanner.jpg);
  background-position: right;
  /* background-size: cover; */
  background-repeat: no-repeat;
  object-fit: cover;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  z-index: -2;
  /* background-color: rgba(0, 0, 0, .5); */
  
}

.video-text{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 99999;

}

.span::before{
  content: '';
  width: 5px;
  position: absolute;
  top: 76vh;
  left: 50vw;
  background-color: #fcdb5a;
  border-radius: 5px;
  height: 75px;
}

.span::after{
  content: '';
  width: 5px;
  position: absolute;
  top: 73vh;
  left: 51vw;
  background-color: #fcdb5a;
  border-radius: 5px;
  height: 100px;
}
.text{
  font-family: sans-serif;
  font-stretch: wider;
}

.container{
  position: absolute;
  top: 0;
  width: 100%;
  height: 80vh;
}

.raleway {
  font-family: "Raleway", sans-serif;
}

.special{
  text-transform: uppercase;
  font-weight: 900;
  background-image: url(src/assets/grocies/special_offer_text_bg.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  background-clip: text;
  background-size: cover;
  color: transparent;

}

.about{
  background-image: url(src/assets/grocies/agro.png);
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;
 
}

.font{
  font-weight: lighter;
}

.vege{
  background-image: url(src/assets/grocies/vegebanners.jpg);
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;
  
 
}

.fruit{
  background-image: url(src/assets/grocies/fruits.jpg);
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;
 
}
.wheat{
  background-image: url(src/assets/grocies/wheatbannner.jpg);
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
 
}
.sun{
  background-image: url(src/assets/grocies/sunlight.jpg);
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;
 
}
.spice{
  background-image: url(src/assets/grocies/spices.jpg);
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;
 
}
.blog1{
  background-image: url(src/assets/grocies/blog1.jpg);
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 35vh;
}
.blog2{
  background-image: url(src/assets/grocies/blog2.jpg);
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 35vh;
}
.blog3{
  background-image: url(src/assets/grocies/blog3.jpg);
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 35vh;
}




/* Sign up design */
.login-with-google-btn {
  transition: background-color .3s, box-shadow .3s;
    
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
  
  &:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
  }
  
  &:active {
    background-color: #eeeeee;
  }
  
  &:focus {
    outline: none;
    box-shadow: 
      0 -1px 0 rgba(0, 0, 0, .04),
      0 2px 4px rgba(0, 0, 0, .25),
      0 0 0 3px #c8dafc;
  }
  
}
/* sign up ends  */